#vtableContainer {
    width: fit-content;
}

#vtable {
    border-collapse: separate;
    border-spacing: 0px;
}

thead tr {
    background-color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1;
}

thead td {
    font-weight: bold;
}

td {
    padding: 4px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid gray;
}

tbody td {
    border-top: none;
}

td:not(:first-child) {
    border-left: none;
}

tfoot td {
    border-top: none;
}

tr.even td {
    background-color: aliceblue;
}

tr.odd td {
    background-color: #ffffff;
}
