#vtableContainer {
    width: fit-content;
}

#vtable {
    border-collapse: collapse;
}

.header-row {
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 1;
}

.cell {
    padding: 4px;
    border-bottom: 1px solid #ddd;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid gray;
}
